<?xml version="1.0"?>
<packages>
  <!-- browser -->
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <!-- system -->
  <package id="googlejapaneseinput" />
  <package id="qttabbar" />
  <package id="cygwin" />
  <package id="winmerge" />
  <package id="procexp" />
  <package id="Everything" />
  <package id="ccleaner" />
  <package id="filezilla" />
  <package id="foxitreader" />
  <package id="irfanview" />
  <!-- editor -->
  <package id="sublimetext3" />
  <package id="sakuraeditor" />
  <package id="astah" />
  <package id="freemind" />
  <package id="skitch" />
  <package id="gimp" />
  <!-- strage -->
  <package id="dropbox" />
  <package id="evernote" />
  <package id="googledrive" />
  <!-- communication & hobby -->
  <package id="skype" />
  <package id="itunes" />
  <!-- develop -->
  <package id="git" />
  <package id="python" />
  <package id="ruby" />
  <package id="sourcetree" />
  <!-- virtualize
  <package id="virtualbox" />
  <package id="vagrant" />
  -->
</packages>
